{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block content %}

<!-- Edit comment container -->
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 background-gradient">
            <h4>Edit comment:</h4>
            <div class="card-body">
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg background-gradient">Update Comment</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}