{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block content %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 gradient-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top background-gradient">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="post">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="heart fas fa-heart"></i>
                                </button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart" style="color: #2b1d2c;"></i>
                                </button>

                                {% endif %}

                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span style="color: #2b1d2c;">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1 comment-div">
                        {% with comments.count as total_comments %}
                        <strong style="color: #2b1d2c;"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 background-gradient">
            <h4>Comments:</h4>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3 background-gradient">
            <div class="card-body ">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Comment posted!
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment to let us know what you think!</h3>
                <p>Commenting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg background-gradient">Comment</button>
                </form>
                {% else %}
                <h4><a class="link" href="{% url 'account_login' %}">Sign in</a> or <a class="link"
                        href="{% url 'account_signup' %}">Register</a> to leave a comment!</h4>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}